{% load static %}

<h1 class="cover-heading">Search Coursera Category</h1>
<p class="lead">And get all courses associated to the category.</p>

<form class="form-inline" method="post">
  {% csrf_token %}
  <div class="form-row">
      <div class="p-4">
        <select class="form-select" name="category" aria-label="Default select example">
          <!-- <option selected>Open this select menu</option> -->
          {% for category in categories %}
            <option value="{{category}}">{{category}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mx-auto p-4">
        <input class="btn btn-dark" type="submit" value="Submit">
      </div>
  </div>
</form>



<!--
<div>
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</div>
-->